In [2]:
import json
import pandas as pd

review = "review.json"

with open(review, 'r') as f:
    for line_number, line in enumerate(f, start=1):
        try:
            obj = json.loads(line)
            print(obj.keys())
            break
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line {line_number}: {e}")

dict_keys(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date'])

In [6]:
pip install prettytable

Collecting prettytable
  Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Requirement already satisfied: wcwidth in /Users/liziming/opt/anaconda3/lib/python3.8/site-packages (from prettytable) (0.2.5)
Installing collected packages: prettytable
Successfully installed prettytable-3.9.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
from prettytable import PrettyTable

table = PrettyTable()

table.field_names = ['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']

with open(review, 'r') as f:
    for line_number, line in enumerate(f, start=1):
        try:
            obj = json.loads(line)
            table.add_row([obj.get(column, "") for column in table.field_names])

            if line_number >= 5:
                break
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line {line_number}: {e}")

print(table)

+------------------------+------------------------+------------------------+-------+--------+-------+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+
|       review_id        |        user_id         |      business_id       | stars | useful | funny | cool |                                                                                                                                                                                                                                                                          text                                                                                                                                                                                                                                                                          |         date        |
+------------------------+------------------------+------------------------+-------+--------+-------+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+
| KU_O5udG6zpxOg-VcAEodg | mh_-eMZ6K5RLWhZyISBhwA | XQfwVwDr-v0ZS3_CbbE5Xw |  3.0  |   0    |   0   |  0   |                                                                                                                                                        If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it's other locations in NJ and never had a bad experience.                                                                                                                                                         | 2018-07-07 22:09:11 |
|                        |                        |                        |       |        |       |      |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |                     |
|                        |                        |                        |       |        |       |      |                                                                                                                                The food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.                                                                                                                                 |                     |
| BiTunyQ73aT9WBnpR9DZGw | OyoGAe7OKpv6SyGZT5g77Q | 7ATYjTIgM3jUlt4UM3IypQ |  5.0  |   1    |   0   |  1   |                                                                                                                                                          I've taken a lot of spin classes over the years, and nothing compares to the classes at Body Cycle. From the nice, clean space and amazing bikes, to the welcoming and motivating instructors, every class is a top notch work out.                                                                                                                                                           | 2012-01-03 15:28:18 |
|                        |                        |                        |       |        |       |      |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |                     |
|                        |                        |                        |       |        |       |      |                                                                                                                                                                                   For anyone who struggles to fit workouts in, the online scheduling system makes it easy to plan ahead (and there's no need to line up way in advanced like many gyms make you do).                                                                                                                                                                                   |                     |
|                        |                        |                        |       |        |       |      |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |                     |
|                        |                        |                        |       |        |       |      |                                                          There is no way I can write this review without giving Russell, the owner of Body Cycle, a shout out. Russell's passion for fitness and cycling is so evident, as is his desire for all of his clients to succeed. He is always dropping in to classes to check in/provide encouragement, and is open to ideas and recommendations from anyone. Russell always wears a smile on his face, even when he's kicking your butt in class!                                                          |                     |
| saUsX_uimxRlCVr67Z4Jig | 8g_iMtfSiwikVnbP2etR0A | YjUWPpI6HXG530lwP-fb2A |  3.0  |   0    |   0   |  0   |                                                                                                  Family diner. Had the buffet. Eclectic assortment: a large chicken leg, fried jalapeño, tamale, two rolled grape leaves, fresh melon. All good. Lots of Mexican choices there. Also has a menu with breakfast served all day long. Friendly, attentive staff. Good place for a casual relaxed meal with no expectations. Next to the Clarion Hotel.                                                                                                   | 2014-02-05 20:30:30 |
| AqPFMleE6RsU23_auESxiA | _7bHUi9Uuf5__HHc_Q8guQ | kxX2SOes4o-D3ZQBkiMRfA |  5.0  |   1    |   0   |  1   |                                                                                                                                                  Wow!  Yummy, different,  delicious.   Our favorite is the lamb curry and korma.  With 10 different kinds of naan!!!  Don't let the outside deter you (because we almost changed our minds)...go in and try something new!   You'll be glad you did!                                                                                                                                                   | 2015-01-04 00:01:03 |
| Sx8TMOWLNuJBWer-0pcmoA | bcjbaE6dDog4jkNY91ncLQ | e4Vwtrqf-wpJfwesgvdgxQ |  4.0  |   1    |   0   |  1   | Cute interior and owner (?) gave us tour of upcoming patio/rooftop area which will be great on beautiful days like today. Cheese curds were very good and very filling. Really like that sandwiches come w salad, esp after eating too many curds! Had the onion, gruyere, tomato sandwich. Wasn't too much cheese which I liked. Needed something else...pepper jelly maybe. Would like to see more menu options added such as salads w fun cheeses. Lots of beer and wine as well as limited cocktails. Next time I will try one of the draft wines. | 2017-01-14 20:54:15 |
+------------------------+------------------------+------------------------+-------+--------+-------+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+

In [4]:
business = pd.read_json("business.json", lines = True)
print(business.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB
None

In [5]:
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [6]:
import json
import csv

input_filename = 'business.json'
output_filename = 'florida_businesses.csv'

with open(input_filename, 'r') as infile, open(output_filename, 'w', newline='', encoding='utf-8') as outfile:
    csv_writer = None
    for line in infile:
        try:
            business = json.loads(line)
            if business['state'] == 'FL':
                if csv_writer is None:
                    csv_writer = csv.DictWriter(outfile, fieldnames=business.keys())
                    csv_writer.writeheader()
                csv_writer.writerow(business)
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON: {e}")
        except KeyError as e:
            print(f"Missing expected key: {e}")

print("Processing complete. Florida businesses have been written to", output_filename)

Processing complete. Florida businesses have been written to florida_businesses.csv

In [7]:
FL_business = pd.read_csv("florida_businesses.csv")
print(FL_business.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26330 entries, 0 to 26329
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   26330 non-null  object
 1   name          26330 non-null  object
 2   address       25457 non-null  object
 3   city          26330 non-null  object
 4   state         26330 non-null  object
 5   postal_code   26321 non-null  float64
 6   latitude      26330 non-null  float64
 7   longitude     26330 non-null  float64
 8   stars         26330 non-null  float64
 9   review_count  26330 non-null  int64
 10  is_open       26330 non-null  int64
 11  attributes    23735 non-null  object
 12  categories    26309 non-null  object
 13  hours         22877 non-null  object
dtypes: float64(4), int64(2), object(8)
memory usage: 2.8+ MB
None

In [29]:
FL_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,qkRM_2X51Yqxk3btlwAQIg,Temple Beth-El,400 Pasadena Ave S,St. Petersburg,FL,33707.0,27.766590,-82.732983,3.5,5,1,NaN,"Synagogues, Religious Organizations","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."
1,UJsufbvfyfONHeWdvAHKjA,Marshalls,21705 Village Lakes Sc Dr,Land O' Lakes,FL,34639.0,28.190459,-82.457380,3.5,6,1,"{'RestaurantsPriceRange2': '2', 'BikeParking':...","Department Stores, Shopping, Fashion","{'Monday': '9:30-21:30', 'Tuesday': '9:30-21:3..."
2,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602.0,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ""'none'"", 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."
3,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,Clearwater,FL,33755.0,27.966235,-82.787412,5.0,10,1,{'ByAppointmentOnly': 'True'},"General Dentistry, Dentists, Health & Medical,...","{'Monday': '7:30-15:30', 'Tuesday': '7:30-15:3..."
4,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771.0,27.916116,-82.760461,4.5,100,0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'..."

In [9]:
import json
import pandas as pd
import itertools

florida_businesses_filename = 'florida_businesses.csv'
reviews_file = 'review.json'
output_file = 'florida_reviews.csv'

florida_businesses = pd.read_csv(florida_businesses_filename)
florida_business_ids = set(florida_businesses['business_id'])

# 分块读取并处理
chunk_size = 10000  
with open(reviews_file, 'r') as infile, open(output_file, 'w', newline='', encoding='utf-8') as outfile:
    header_written = False
    
    while True:
        lines = list(itertools.islice(infile, chunk_size))
        if not lines:
            break
        reviews = [json.loads(line) for line in lines]
        
        florida_reviews = [review for review in reviews if review['business_id'] in florida_business_ids]
        
        if florida_reviews:
            df = pd.DataFrame(florida_reviews)
            if not header_written:
                df.to_csv(outfile, index=False, mode='w')
                header_written = True
            else:
                df.to_csv(outfile, index=False, mode='a', header=False)

In [11]:
florida_review = pd.read_csv("florida_reviews.csv")
florida_review.head(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,rGQRf8UafX7OTlMNN19I8A,1WHRWwQmZOZDAhp2Qyny4g,uMvVYRgGNXf5boolA9HXTw,5.0,2,0,0,My experience with Shalimar was nothing but wo...,2015-06-21 14:48:06
1,OAhBYw8IQ6wlfw1owXWRWw,1C2lxzUo1Hyye4RFIXly3g,BVndHaLihEYbr76Z0CMEGw,5.0,0,0,0,"Great place for breakfast! I had the waffle, w...",2014-10-11 16:22:06
2,u2vzZaOqJ2feRshaaF1doQ,NDZvyYHTUWWu-kqgQzzDGQ,CLEWowfkj-wKYJlQDqT1aw,5.0,2,0,1,I go to blow bar to get my brows done by natal...,2016-03-07 00:02:18
3,mO398Ed5dpv1H5ZsKc8KXw,yobeeTUBfaTBcnk26mXNuA,hKameFsaXh9g8WQbv593UA,4.0,0,0,0,Food was good- atmosphere/decor is like a fish...,2015-04-15 15:30:48
4,TcCcHzc3L6Aboq3DteEfZA,OuatwND396ZQxm2zK8WlUQ,jNL5KUPz2-tHUJM__ysSaw,1.0,1,0,0,If you want to pay for everything a la carte t...,2014-08-24 20:14:12

In [12]:
florida_reviews_filename = 'florida_reviews.csv'
florida_businesses_filename = 'florida_businesses.csv'
output_filename = 'merged_florida_data.csv'

print("Loading Florida reviews data...")
florida_reviews = pd.read_csv(florida_reviews_filename)
print("Florida reviews data loaded. Number of rows:", len(florida_reviews))

print("Loading Florida businesses data...")
florida_businesses = pd.read_csv(florida_businesses_filename)
print("Florida businesses data loaded. Number of rows:", len(florida_businesses))

print("Merging datasets...")
merged_data = pd.merge(florida_reviews, florida_businesses, on='business_id', how='left')
print("Datasets merged. Number of rows in merged dataset:", len(merged_data))

print("Saving merged data to CSV...")
merged_data.to_csv(output_filename, index=False)
print("Merged data saved to", output_filename)

Loading Florida reviews data...
Florida reviews data loaded. Number of rows: 1161545
Loading Florida businesses data...
Florida businesses data loaded. Number of rows: 26330
Merging datasets...
Datasets merged. Number of rows in merged dataset: 1161545
Saving merged data to CSV...
Merged data saved to merged_florida_data.csv

In [14]:
final_data = pd.read_csv("merged_florida_data.csv")
final_data.head(5)

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
0,rGQRf8UafX7OTlMNN19I8A,1WHRWwQmZOZDAhp2Qyny4g,uMvVYRgGNXf5boolA9HXTw,5.0,2,0,0,My experience with Shalimar was nothing but wo...,2015-06-21 14:48:06,Shalimar Fine Jewelers,...,FL,33609.0,27.947520,-82.527879,2.5,8,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Shopping, Jewelry","{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'..."
1,OAhBYw8IQ6wlfw1owXWRWw,1C2lxzUo1Hyye4RFIXly3g,BVndHaLihEYbr76Z0CMEGw,5.0,0,0,0,"Great place for breakfast! I had the waffle, w...",2014-10-11 16:22:06,Mamas Kitchen,...,FL,33611.0,27.884852,-82.506004,4.5,162,1,"{'BusinessParking': ""{'garage': False, 'street...","Sandwiches, Restaurants, American (New), Ameri...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-19:30', ..."
2,u2vzZaOqJ2feRshaaF1doQ,NDZvyYHTUWWu-kqgQzzDGQ,CLEWowfkj-wKYJlQDqT1aw,5.0,2,0,1,I go to blow bar to get my brows done by natal...,2016-03-07 00:02:18,Blow Bar Express Styling Salon,...,FL,33609.0,27.941975,-82.505307,4.0,55,1,"{'BusinessParking': ""{'garage': False, 'street...","Makeup Artists, Blow Dry/Out Services, Beauty ...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-16:0', '..."
3,mO398Ed5dpv1H5ZsKc8KXw,yobeeTUBfaTBcnk26mXNuA,hKameFsaXh9g8WQbv593UA,4.0,0,0,0,Food was good- atmosphere/decor is like a fish...,2015-04-15 15:30:48,Aquafinz,...,FL,33558.0,28.190021,-82.540430,3.5,86,0,"{'Caters': 'True', 'NoiseLevel': ""u'average'"",...","Seafood, Steakhouses, Salad, Comfort Food, Res...","{'Monday': '11:30-21:0', 'Tuesday': '11:30-21:..."
4,TcCcHzc3L6Aboq3DteEfZA,OuatwND396ZQxm2zK8WlUQ,jNL5KUPz2-tHUJM__ysSaw,1.0,1,0,0,If you want to pay for everything a la carte t...,2014-08-24 20:14:12,El Chicanito Mexican Restaurant,...,FL,34668.0,28.297630,-82.706833,4.0,10,0,"{'RestaurantsAttire': ""'casual'"", 'OutdoorSeat...","American (New), Restaurants, Mexican",NaN

In [1]:
import pandas as pd

trips_by_distance = pd.read_csv("Trips_by_Distance.csv")
trips_by_distance.head(5)

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,National,2019/01/01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,National,2019/01/02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,National,2019/01/03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,National,2019/01/04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,National,2019/01/05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1