In [3]:
import pandas as pd

In [27]:
df = pd.read_csv('reviews_in_fl.csv')

In [28]:
len(df)

1161545

In [29]:
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,categories,hours,review_id,user_id,stars_y,useful,funny,cool,text,date
0,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,Clearwater,FL,33755.0,27.966235,-82.787412,5.0,10,...,"General Dentistry, Dentists, Health & Medical,...","{'Monday': '7:30-15:30', 'Tuesday': '7:30-15:3...",FBXkfsPAHkDjCzYUBnHm-A,ZvmZM7LBzaYbpznpHlTANA,5,0,0,0,Why 5 stars?\n\nThis office does it the right ...,2017-09-21 18:47:03
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771.0,27.916116,-82.760461,4.5,100,...,"Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",oTTuahWNWzX_018P6O6_2g,z1Dfj8kz3KCArkXaIyaBIA,1,6,1,0,The worst Chicken Parm. Sandwich I've ever eat...,2014-05-25 21:52:30
2,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771.0,27.916116,-82.760461,4.5,100,...,"Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",R7DC4sHDcklrk1s1K93FDA,HvgKiuV36e9SzNqeA5zOfA,4,0,0,0,"Zio's, previously known as Cesarina's is a lar...",2018-07-26 16:25:04
3,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771.0,27.916116,-82.760461,4.5,100,...,"Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",8kDLAf-muASQfs5zDXpiyw,7BhiY0D84Lj04kjEWn5fIQ,5,0,0,0,"As an update to my previous review, we had tri...",2018-04-28 00:32:12
4,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771.0,27.916116,-82.760461,4.5,100,...,"Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'...",KupYGAYqAKVLP9cspQ-9TQ,0EjWviHaYwdaMaD8VBOHWA,5,1,1,0,The little deli belongs in little Italy. Wonde...,2015-08-30 18:56:08

In [35]:
cities = df['city'].unique()
print(f"Unique cities: {cities}")

Unique cities: ['Clearwater' 'Largo' 'St. Petersburg' 'Tampa' 'Wesley Chapel'
 'Treasure Island' 'Tarpon Springs' 'Land O Lakes' 'Riverview'
 'Saint Petersburg' 'Madeira Beach' 'New Port Richey' 'Brandon' 'TAMPA'
 'Terra Ceia' 'Odessa' 'St. Pete Beach' 'Spring Hill' 'Holiday' 'Oldsmar'
 'St Petersburg' 'Hernando Beach' 'Lutz' 'Plant City' 'Spring HIll'
 'Ruskin' 'Valrico' 'Trinity' 'Bellair' 'Port Richey' 'Dunedin' 'Seminole'
 'Clearwater Beach' 'St Pete Beach' 'Safety Harbor' 'Sun City Center'
 'Pinellas Park' 'Apollo Beach' 'Lithia' 'Palm Harbor' 'Belleair'
 'North Redington Beach' "Land O' Lakes" 'Greater Northdale' 'Hudson'
 'Dover' 'Seffner' 'Thonotosassa' 'Tampa Bay' 'Gulfport' 'Zephyrhills'
 'Land o lakes' 'Saint Pete Beach' 'Redington Shores' 'Wimauma'
 'Treasure Is' 'Temple Terrace' 'NEW PORT RICHEY' 'Hillsborough County'
 'Ybor City' 'Indian Shores' 'South Pasadena' 'Indian Rocks Beach'
 'Dade City' 'lutz' 'Westchase' 'Palmetto' 'clearwater' 'Carrollwood'
 'Belleair Bluffs' 'Mulberry' "Land O'Lakes" "Town 'n' Country"
 'Pass-a-Grille' 'Gibsonton' 'Redingtn Shor' 'TWN N CNTRY' 'Temple Terr'
 'Petersburg' 'Kenneth City' 'East Lake' 'Masaryktown' 'Sun City'
 'Twn N Cntry' 'New Prt Rchy' 'Balm' 'Brooksville' 'Springhill'
 'Pinecrest West Park' 'Pass-a-Grille Beach' 'Central Tampa'
 'Tierra Verde' 'saint petersburg' 'Ozona' 'Saintt Petersburg'
 'Southwest Tampa' 'St. Pete' '\u200bLargo' 'Wyndlake Condominium'
 'New Pt Richey' 'Ste C' 'S Pasadena' 'riverview' 'Town n Country'
 'VALRICO' 'San Antonio' 'East Tampa' 'St Pete' 'Saint Petersburg,'
 'Citrus Park' 'Tampa - North' 'Wesley chapel' 'Clearwater,'
 'North Redington Bch' 'Palm harbor' 'Thonosassa' 'Indian Rocks Beach. '
 'land o lakes' 'Bradenton' 'NEW PRT RCHY' 'CLEARWATER BEACH' 'CLEARWATER'
 'Zephryhills' 'largo' 'Palm Harbor, FL' 'Belleair Blf' 'Kenneth'
 'Tarpon springs' 'Shady Hills' 'Land-O-Lakes' 'Bayonet Point'
 'St.Petersburg' 'Tampa Terrace' '\u200bLithia' 'Claerwater' 'LARGO'
 'Tampa Florida' 'Saint Petersburg Beach' 'Pinellas park' 'RIVERVIEW'
 'St Petersberg' 'Belleair Beach' 'Safety  Harbor' 'SPRINGHILL' 'Pasadena'
 'ST. PETE BEACH' 'Hillsborough' 'tampa' 'TARPON SPRINGS' 'HUdson'
 'Dunedin ' 'St Pete beach' 'N Redington Bch' 'chicago' 'Redington Beach'
 'Pinellas' 'Bradenton Beach' 'SEMINOLE' 'River View' 'DUNEDIN' 'Lutz fl'
 'Crystal Beach' 'Mango' 'Largo (Walsingham)' 'Crystal Springs' 'wimauma'
 'Tampa - South' 'ST. PETERSBURG' 'New Orleans' 'Sarasota' 'N Redngtn Bch'
 'Boulevard' 'Belleair Blufs' 'Dunnellon' 'Tampa Palms' 'Land o Lakes'
 'Palm harbor ' 'Greater Carrollwood' 'Forest Hills' 'BRANDON'
 'Town N Country' 'Tampla' 'South Tampa' 'LITHIA' 'Lakeland' 'ClearWater'
 'Redingtn Shores' "Land o' Lakes," 'University Park' 'St.Pete Beach'
 'SAINT PETERSBURG' 'Wesley Chapel ' 'St Petersurg' 'Safety Harbor,'
 'wesley chapel' 'Wesley Ccapel' 'Elfers' 'Tampa ' 'Madiera Beach'
 'Riverview Fl' 'TRINITY' 'St. Leo' 'New Tampa' 'PINELLAS PARK'
 'Tierre Verde' "Land O'lakes" 'spring hill' 'Macdill Afb'
 'St. Petersberg' 'Tampa,' 'Saint Leo' 'Tampa,Fl'
 'Clearwater/ Countryside' 'S.Pasadena' 'Redington Shore' 'Pasco'
 'Hernando Bch' 'Wesley Chapel  FL' 'MacDill AFB' 'Key Largo' 'TAMPA AP'
 'Safety Hatbor' 'Apopka' "Town 'N' Country" 'Apollo beach' 'TEMPLE TERR']

In [71]:
cities_of_interest = ['Balm', 'Brandon', 'Dover', 'Durant', 'Gibsonton', 'Lithia', 'Lutz', 'Mango', 'Odessa', 'Plant City', 'Riverview'
                      'Ruskin	Hillsborough County', 'Sun City Center', 'Ruskin', 'Apollo Beach', 'Seffner', 'Sun City', 'Sydney', 'Thonotosassa', 
                      'Valrico', 'Wimauma', 'Tampa', 'Ybor City', 'Davis Island', 'Macdill Afb', "Town 'N' Country", 'Carrollwood', 'Clair Mel City',
                      'Northdale', 'Northdale', 'Westchase', 'Palma Ceia', 'Temple Terrace', 'Tampa Palms', 'Falkenburg Branch']

review = df[df['city'].isin(cities_of_interest)]

In [58]:
review.to_csv('reviews_in_HillsboroughCounty.csv', index=False)

In [69]:
df2 = pd.read_csv('business_data_fl.csv')
bus = df2[df2['city'].isin(cities_of_interest)]

In [70]:
bus.to_csv('business_data_HillsboroughCounty.csv', index=False)

In [75]:
bus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12119 entries, 6 to 26328
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   12119 non-null  object
 1   name          12119 non-null  object
 2   address       11705 non-null  object
 3   city          12119 non-null  object
 4   state         12119 non-null  object
 5   postal_code   12116 non-null  float64
 6   latitude      12119 non-null  float64
 7   longitude     12119 non-null  float64
 8   stars         12119 non-null  float64
 9   review_count  12119 non-null  int64
 10  is_open       12119 non-null  int64
 11  attributes    10917 non-null  object
 12  categories    12110 non-null  object
 13  hours         10600 non-null  object
dtypes: float64(4), int64(2), object(8)
memory usage: 1.4+ MB

In [76]:
review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 559189 entries, 35 to 1161540
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   559189 non-null  object
 1   name          559189 non-null  object
 2   address       553005 non-null  object
 3   city          559189 non-null  object
 4   state         559189 non-null  object
 5   postal_code   559168 non-null  float64
 6   latitude      559189 non-null  float64
 7   longitude     559189 non-null  float64
 8   stars_x       559189 non-null  float64
 9   review_count  559189 non-null  int64
 10  is_open       559189 non-null  int64
 11  attributes    541468 non-null  object
 12  categories    559134 non-null  object
 13  hours         532832 non-null  object
 14  review_id     559189 non-null  object
 15  user_id       559189 non-null  object
 16  stars_y       559189 non-null  int64
 17  useful        559189 non-null  int64
 18  funny         559189 non-null  int64
 19  cool          559189 non-null  int64
 20  text          559189 non-null  object
 21  date          559189 non-null  object
dtypes: float64(4), int64(6), object(12)
memory usage: 98.1+ MB

In [79]:
null_hours_df = bus[bus['hours'].isnull()]
len(null_hours_df)

1519

In [80]:
null_hours_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
6,0qNpTGTcqPwOLi2hADx4Xw,Charlie's Market,2815 E Sligh Ave,Tampa,FL,33610.0,28.010360,-82.430042,3.0,9,1,"{'BusinessParking': ""{'garage': False, 'street...","Food, Grocery, Convenience Stores",NaN
9,mjWvAkNqoA6Y5P03sDSzfA,Educational Outfitters,"3904 W Hillsborough Ave, Ste D",Tampa,FL,33614.0,27.995450,-82.508119,2.0,10,1,"{'BusinessParking': ""{'garage': False, 'street...","Uniforms, Shopping",NaN
46,Q2sKrIaEZsFN7VNjkibyfQ,Accurate Window & Screen,5700 N Nebraska Ave,Tampa,FL,33604.0,27.998957,-82.451434,3.5,7,1,NaN,"Home Services, Windows Installation",NaN
62,sUQ-OfJYSNfz-cimEjoaXQ,Soho Oasis Cafe,410 S Howard Ave,Tampa,FL,33606.0,27.940206,-82.482884,3.5,7,0,"{'RestaurantsAttire': ""'casual'"", 'NoiseLevel'...","Restaurants, Middle Eastern",NaN
65,z9wCTHYI2VZy9YIblwSsgg,The Silo Eatery Coffee Bakery,"9036 Brittany Way, Bldg 18",Tampa,FL,33619.0,27.946496,-82.355563,4.0,5,0,"{'RestaurantsDelivery': 'False', 'Ambience': ""...","Coffee & Tea, Restaurants, Food, Cafes, Bakeries",NaN

In [82]:
open_bus = bus[bus['is_open'] == 1]
len(open_bus)

9831

In [87]:
bus = df2[df2['city'].isin(cities_of_interest)].copy()
bus.loc[:, 'categories'] = bus['categories'].str.lower()
restaurant_bus = bus[bus['categories'].str.contains('restaurants|food', na=False)]

len(restaurant_bus)

4960

In [89]:
restaurant_bus.to_csv('restaurant_data_Hills.csv', index=False)